.page {
  background-color: var(--black);
  color: var(--white);

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  min-height: 100vh;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
