.popup__container-input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;

  margin-top: 5px;
  min-height: 15px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
