.popup__container-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  background-color: var(--white);
  color: var(--black);

  width: 238px;
  padding: 25px 22px;
}

@media screen and (min-width: 880px) {
  .popup__container-form {
    width: 358px;
    padding: 36px;
  }
}
